<%- include('./partials/header.ejs')          %>
<body>
    <h3>Wlecome From Home Page !!!</h3>
    <a  class="btn btn-success" role ="button" href="/login">login</a>
    <a  class="btn btn-success" role ="button" href="/signup">signup</a>
</body>
</html>