<%- include('./partials/header.ejs')          %>
<body>
    <h3>Wlecome From Login Page  </h3>
    <%=myMsg %>


    <form  action="/login" method="post">

        
        <div class="mb-3 col-sm-6">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="usr_email">
         
        </div>
        <div class="mb-3 col-sm-6">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" class="form-control" id="pwd"  name="usr_pwd">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</body>
</html>