<%- include('./partials/header.ejs')          %>
<body>
    <h3>Wlecome From User Signup</h3>
<%=myMsg %>
    <form  action="/signup" method="post">

        <div class="mb-3 col-sm-6">
            <label for="name" class="form-label">User Name</label>
            <input type="text" class="form-control" id="name" name="usr_name">
           
          </div>
        <div class="mb-3 col-sm-6">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="usr_email">
         
        </div>
        <div class="mb-3 col-sm-6">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" class="form-control" id="pwd"  name="usr_pwd">
        </div>
        
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</body>
</html>